@model InrappAdmin.Web.Models.ViewModels.SystemViewModels.SystemViewModel


<hr />
@foreach (var item in Model.FAQCategories)
{
    if (item.Id == 1)
    {

        <h4>Frågor och svar för @item.Kategori</h4>

        @Html.ActionLink("Skapa ny FAQ för " + item.Kategori, "CreateFAQ", "System", new { catId = Model.SelectedFAQCategory }, null)

        <table class="table table-small">
            <tr>
                <th>
                    Kategori
                </th>
                <th>
                    Register
                </th>
                <th>
                    Fråga
                </th>
                <th>
                    Svar
                </th>
            </tr>

            @foreach (var faq in item.AdmFAQ)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kategori)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => faq.RegisterId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => faq.Fraga)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => faq.Svar)
                    </td>

                    @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>*@
                </tr>
            }
        </table>
    }
}
