@model InrappAdmin.Web.Models.ViewModels.SystemViewModels.SystemViewModel
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />


<script type="text/javascript">
    var faqLista = @Html.Raw(Json.Encode(Model.FAQs));

    $(document).ready(function () {

        $("#editSelectedFAQForm").hide();
        var modalConfirm = function test(callback) {
            $("#modal-btn-si").on("click", function () {
                callback(true);
                $("#mi-modal").modal('hide');
            });

            $("#modal-btn-no").on("click", function () {
                callback(false);
                $("#mi-modal").modal('hide');
            });
        };

        modalConfirm(function (confirm) {
            if (confirm) {
                //alert($('#SelectedFAQ').val());
                //alert($('#SelectedFAQCategory').val());
                var data = { 'faqId': $('#SelectedFAQId').val(), 'faqCatId': $('#SelectedFAQCategory').val() };
                $.ajax({
                    url: '/System/DeleteFAQ',
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data),
                    success: function (data) {
                        //On ajax success do this
                        $("#pageContainer").html(data);
                        tr.find('.edit-mode, .display-mode').toggle();
                        $('#footer').hide();
                    }
                });
            }
        });
    });

    function deleteFAQ(id, fraga) {
        $('#SelectedFAQId').val(id);
        $("#mi-modal").modal("show");
        $('#modal-body').html("Vill du verkligen ta bort ta bort hela FAQn för frågan: " + fraga + " ?");
    }


    function showEditForm(id) {
        $('#SelectedFAQId').val(parseInt(id));
        var y = parseInt(id);

        $.ajax({
            url: '/System/EditSelectedFAQ?faqId=' + y,
            data: JSON.stringify({faqId: y}),
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                //location.reload();
                $("#editSelectedFAQForm").html(data);
                $("#editSelectedFAQForm").show();
                $('#footer').hide();
            }
        });
        //faqLista.forEach(function (info, index) {
        //    if (info.Id === parseInt(id)) {
        //        $('#textArea').html(info.Svar);
        //    }
        //});


        //rows.each(function (i) {
        //    var x = $('#FAQs_' + i + '__Id').val();
        //    //if ($('#FAQs_' + i + '__Id').length > 0) {
        //    //    deFormatAmounts(i);
        //    //}
        //});
        //rows.each(function (faq, index) {
        //    if (faq.Id === id) {
        //        $('#textArea').html(faq.Svar);
        //    }
        //});
    }

    //$(function () {
    //    var tr = $('#FAQAnswerTable').find('tr');
    //    tr.bind('click', function (event) {
    //        showTextarea($(this).find('input[type=text]').val());
    //    });
    //});

    $(function () {
        $('.edit-mode').hide();
        $('.edit-user, .cancel-user').on('click', function () {
            var tr = $(this).parents('tr:first');
            tr.find('.edit-mode, .display-mode').toggle();
            $("#editSelectedFAQForm").hide();
        });
        $('.save-user').on('click', function () {
            var tr = $(this).parents('tr:first');
            var faqId = tr.find("#FAQId").html();
            var faqRegisterId = tr.find("#FAQRegisterId").val();
            var faqFraga = tr.find("#FAQFraga").val();
            var faqSvar = tr.find("#FAQSvar").val();

            //Creating AdmFAQ JSON object
            var admFAQ =
            {
                "Id": faqId,
                "FAQkategoriId": $('#SelectedFAQCategory').val(),
                "RegsiterId": faqRegisterId,
                "Fraga": faqFraga,
                "Svar": faqSvar
            };
            //Posting ApplicationUser object to controller's Update action method
            $.ajax({
                url: '/System/UpdateFAQ',
                data: JSON.stringify(admFAQ),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    //location.reload();
                    $("#pageContainer").html(data);
                    tr.find('.edit-mode, .display-mode').toggle();
                    $('#footer').hide();
                    //alert('Record updated Successfully!!');
                }
            });

        });

        //$('.edit-user').on('click', function () {
        //    var tr = $(this).parents('tr:first');
        //    var faqId = tr.find("#FAQId").html();
        //    var faqRegisterId = tr.find("#FAQRegisterId").val();
        //    var faqFraga = tr.find("#FAQFraga").val();
        //    var faqSvar = tr.find("#FAQSvar").val();

        //    tr.find("#lblRegsiterId").text(faqRegisterId);
        //    tr.find("#lblFraga").text(faqFraga);
        //    tr.find("#lblSvar").text(faqSvar);
        //});
    });
</script>



@{
    ViewBag.Title = "Frågor för FAQ-kategori";
}

<div class="modal fade ui-widget-content" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body" id="modal-body">
                <p>

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="modal-btn-si">Ja</button>
                <button type="button" class="btn btn-default" id="modal-btn-no">Avbryt</button>
            </div>
        </div>
    </div>
</div>

<div id="pageContainer" class="padding-top-55">

    <h4>Frågor för FAQ-kategori @Html.Raw(Json.Encode(Model.SelectedFAQCategory))</h4>
    <br />

    @if (Model != null)
    {
        @Html.HiddenFor(m => m.SelectedFAQ)
        @Html.HiddenFor(m => m.SelectedFAQCategory)

        <div class="row">
            <div class="col-md-8">
                @Html.ActionLink("Skapa ny FAQ", "CreateFAQ", "System", routeValues: new { catId = Model.SelectedFAQCategory }, htmlAttributes: null)
            </div>
            @Html.ActionLink("Tillbaka till kategorier", "GetFAQCategories", "System")
        </div>

        <div id="gridContent" style="font-family: Arial; padding: 20px;">

            @{
        ViewBag.Title = "Administrera FAQs";
        var grid = new WebGrid(source: Model.FAQs, canPage: true, rowsPerPage: 10, ajaxUpdateContainerId: "faqsGrid");
        grid.Pager(WebGridPagerModes.All);
            }


            @grid.GetHtml(htmlAttributes: new { id = "FAQAnswerTable" },
       tableStyle: "webgrid-table",
       headerStyle: "webgrid-header",
       footerStyle: "webgrid-footer",
       alternatingRowStyle: "webgrid-alternating-row",
       selectedRowStyle: "webgrid-selected-row",
       rowStyle: "webgrid-row-style",
       mode: WebGridPagerModes.All,
       columns: grid.Columns(
            grid.Column("ID", format: @<text><label id="FAQId">@item.Id</label></text>, style: "colMinWidth"),
            grid.Column("Register", format: @<text><label id="lblRegister">@item.RegisterKortNamn</label></text>, style: "colMinWidth"),
            grid.Column("Fråga", format: @<text><label id="lblFraga" class="longColumnText" style="width: 200px;">@item.Fraga</label></text>, style: "col2Width"),
            grid.Column("Svar", format: @<text> <label id="lblSvar" class="longColumnText" style="width: 200px;">@item.Svar</label></text>, style: "col3Width"),

            grid.Column(null, format: @<text>
                <button class="edit-user display-mode btn btn-default" onclick="showEditForm('@item.Id');">Ändra</button>
                <button class="display-mode btn btn-default" onclick="deleteFAQ(@item.Id,'@item.Fraga');return false;">Ta bort</button>
                @*<button class="save-user edit-mode btn btn-default">Spara</button>*@
                <button class="cancel-user edit-mode btn btn-default">Avbryt</button>
            </text>, style: "col3Width", canSort: false)))
        </div>

        <div id="editSelectedFAQForm">
            @Html.Partial("_EditSelectedFAQ")
        </div>

        @*<div id="editFAQAnswer">
            @using (Html.BeginForm("UpdateFAQ", "System", FormMethod.Post))
            {

                @Html.HiddenFor(x => Model.SelectedFAQ)

                <div class="form-group">
                    @Html.LabelFor(model => model.RegisterId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RegisterId, new { htmlAttributes = new { @class = "form-control", id = "txtRegisterId" } })
                        @Html.ValidationMessageFor(model => model.RegisterId, "", new { @class = "text-danger", id = "FAQRegisterId" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Fraga, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Fraga, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Fraga, "", new { @class = "text-danger", id = "FAQFraga" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8">
                            @Html.Label("FAQ svar: ", new { @class = "control-label" })
                            @Html.TextAreaFor(m => Model.SelectedFAQAnswer, 10, 100, new { @class = "form-control", id = "FAQSvar", style = "max-width:95% !important;" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Spara" class="save-user btn btn-default" />
                    </div>
                </div>
            }
        </div>*@
    }
</div>

