@using System.Configuration
@using InrappAdmin.Web.Models.ViewModels
@model InrappAdmin.Web.Models.ViewModels.LeveransViewModels.LeveransViewModel
@{
    ViewBag.Title = "Leverans";
}

<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript">

    $(document).ready(function () {

    });

    $(document).on('change','#ddlRegister',function() {
        $("#SelectedRegisterId").val($('#ddlRegister').val());
    });

    $(function () {
        $('th a, tfoot a').click(function () {
            var p = $("#SelectedRegisterId").val();
            var x = $(this).attr('href');
            var newUrl = $(this).attr('href') + "&regId=" + $("#SelectedRegisterId").val();
            $('form').attr('action', newUrl).submit();
            //$('form').attr('action', $(this).attr('href')).submit();
            return false;
        });
    });

    $(function() {
        $('.edit-mode').hide();
        $('.edit-user, .cancel-user').on('click',
            function () {
                var tr = $(this).parents('tr:first');
                tr.find('.edit-mode, .display-mode').toggle();
            });
        $('.save-user').on('click',
            function() {
                var tr = $(this).parents('tr:first');
                var forvLevId = tr.find("#ForvantadleveransId").html();
                var forvLevDelRegId = tr.find("#DelregisterId").val();
                var forvLevDelFilkravId = tr.find("#FilkravId").val();
                var forvLevPeriod = tr.find("#Period").val();
                var forvLevUppgiftsstart = tr.find("#Uppgiftsstart").val();
                var forvLevUppgiftsslut = tr.find("#Uppgiftsslut").val();
                var forvLevRapporteringsstart = tr.find("#Rapporteringsstart").val();
                var forvLevRapporteringsslut = tr.find("#Rapporteringsslut").val();
                var forvLevRapporteringsenast = tr.find("#Rapporteringsenast").val();
                //var forvLevPaminnelse1 = tr.find("#Paminnelse1").val();
                //var forvLevPaminnelse2 = tr.find("#Paminnelse2").val();
                //var forvLevPaminnelse3 = tr.find("#Paminnelse3").val();

                //Creating AdmForvantadLeverans JSON object
                var admForvantadLev =
                {
                    "Id": forvLevId,
                    "FilkravId": forvLevDelFilkravId,
                    "DelregisterId": forvLevDelRegId,
                    "Period": forvLevPeriod,
                    "Uppgiftsstart": forvLevUppgiftsstart,
                    "Uppgiftsslut": forvLevUppgiftsslut,
                    "Rapporteringsstart": forvLevRapporteringsstart,
                    "Rapporteringsslut": forvLevRapporteringsslut,
                    "Rapporteringsenast": forvLevRapporteringsenast,
                    //"Paminnelse1": forvLevPaminnelse1,
                    //"Paminnelse2": forvLevPaminnelse2,
                    //"Paminnelse3": forvLevPaminnelse3
                    };
                var regId = $("#SelectedRegisterId").val();
                //Posting AdmForvantadleverans object to controller's Update action method
                $.ajax({
                    url: '/Leverans/UpdateForvantadLeverans',
                    data: JSON.stringify({
                        forvLevModel: admForvantadLev,
                        regId: regId
                    }),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function(data) {
                        //location.reload();
                        $("#pageContainer").html(data);
                        tr.find('.edit-mode, .display-mode').toggle();
                        $('#footer').hide();
                        //alert('Record updated Successfully!!');
                    }
                });

            });

        $('.edit-user').on('click',
            function() {
                var tr = $(this).parents('tr:first');
                var forvLevPeriod = tr.find("#Period").val();
                var forvLevUppgiftsstart = tr.find("#Uppgiftsstart").val();
                var forvLevUppgiftsslut = tr.find("#Uppgiftsslut").val();
                var forvLevRapporteringsstart = tr.find("#Rapporteringsstart").val();
                var forvLevRapporteringsslut = tr.find("#Rapporteringsslut").val();
                var forvLevRapporteringsenast = tr.find("#Rapporteringsenast").val();

                tr.find("#lblPeriod").text(forvLevPeriod);
                tr.find("#lblUppgiftsstart").text(forvLevUppgiftsstart);
                tr.find("#lblUppgiftsslut").text(forvLevUppgiftsslut);
                tr.find("#lblRapporteringsstart").text(forvLevRapporteringsstart);
                tr.find("#lblRapporteringsslut").text(forvLevRapporteringsslut);
                tr.find("#lblRapporteringsenast").text(forvLevRapporteringsenast);

            });
    });
</script>

<div id="pageContainer">
    <div class="row">
        <div class="col-md-8 padding-top-55">
            <h4>Administrera förväntade leveranser</h4>
            <br />
            <section id="orgForm">
                @using (Html.BeginForm("GetDirectorysExpectedDeliveries", "Leverans", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.HiddenFor(m => m.SelectedRegisterId)
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => m.SelectedRegisterId, ViewBag.RegisterList as SelectList, " - Välj Register -", new { id = "ddlRegister", @class = "form-control", style = "max-width:150px !important" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <input type="submit" value="Sök förväntade leveranser" class="btn btn-default" />
                        </div>
                    </div>

                }
            </section>
        </div>
    </div>
    
    @if (Model != null)
    {
        @Html.ActionLink("Skapa ny förväntad leverans", "CreateForvantadLeverans", "Leverans")

        <div id="gridContent" style="font-family: Arial; padding: 20px;">
            @{
                ViewBag.Title = "Administrera förväntade leveranser";
                var grid = new WebGrid(source: Model.ForvantadeLeveranser, canPage: true, rowsPerPage: 10, ajaxUpdateContainerId: "forvLevGrid");
                grid.Pager(WebGridPagerModes.All);
            }

            @Html.HiddenFor(m => m.SelectedRegisterId)

            @grid.GetHtml(htmlAttributes: new {id = "forvLevTable"},
                tableStyle: "webgrid-table",
                headerStyle: "webgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "webgrid-alternating-row",
                selectedRowStyle: "webgrid-selected-row",
                rowStyle: "webgrid-row-style",
                mode: WebGridPagerModes.All,
                columns: grid.Columns(
                    grid.Column("ID", format: @<text><span class="display-mode">@item.ID</span><label id="ForvantadleveransId" class="edit-mode colMinWidth">@item.Id</label></text>, style: "colMinWidth"),
                    grid.Column(null, null, format: @<text><input type="hidden" id="DelregisterId" value="@item.DelregisterId" class="edit-mode form-control"/></text>, style: "colMinWidth"),

                    grid.Column("Delregister", "Delregister", format: @<text><span class="display-mode"><label id="lblDelregister">@item.DelregisterKortnamn</label></span>
                    <input type="text" id="Delregister" value="@item.DelregisterKortnamn" class="edit-mode form-control"/></text>, style: "colMinWidth"),
                    grid.Column("Filkravid", "Filkravid", format: @<text><span class="display-mode"><label id="lblFilkravId">@item.FilkravId</label></span>
                    <input type="text" id="FilkravId" value="@item.FilkravId" class="edit-mode form-control"/></text>, style: "colMinWidth"),
                    grid.Column("Period", "Period", format: @<text><span class="display-mode"><label id="lblPeriod">@item.Period </label></span>
                    <input type="text" id="Period" value="@item.Period" class="edit-mode form-control"/></text>, style: "col1Width"),

                    grid.Column("Uppgiftsstart", "Uppgiftsstart", format: @<text><span class="display-mode">
                    <label id="lblUppgiftsstart">@( item.Uppgiftsstart != null ? item.Uppgiftsstart.ToString("yyyy-MM-dd") : item.Uppgiftsstart)</label></span>
                    <input type="text" id="Uppgiftsstart" value="@( item.Uppgiftsstart != null ? item.Uppgiftsstart.ToString("yyyy-MM-dd") : item.Uppgiftsstart)" class="edit-mode form-control"/></text>, style: "col2Width"),
                    grid.Column("Uppgiftsslut", "Uppgiftsslut", format: @<text><span class="display-mode">
                    <label id="lblUppgiftsslut">@( item.Uppgiftsslut != null ? item.Uppgiftsslut.ToString("yyyy-MM-dd") : item.Uppgiftsslut)</label></span>
                    <input type="text" id="Uppgiftsslut" value="@( item.Uppgiftsslut != null ? item.Uppgiftsslut.ToString("yyyy-MM-dd") : item.Uppgiftsslut)" class="edit-mode form-control"/></text>, style: "col2Width"),
                    grid.Column("Rapporteringsstart", "Rapporteringsstart", format: @<text><span class="display-mode">
                    <label id="lblRapporteringsstart">@( item.Rapporteringsstart != null ? item.Rapporteringsstart.ToString("yyyy-MM-dd") : item.Rapporteringsstart)</label></span>
                    <input type="text" id="Rapporteringsstart" value="@( item.Rapporteringsstart != null ? item.Rapporteringsstart.ToString("yyyy-MM-dd") : item.Rapporteringsstart)" class="edit-mode form-control"/></text>, style: "col2Width"),
                    grid.Column("Rapporteringsslut", "Rapporteringsslut", format: @<text><span class="display-mode">
                    <label id="lblRapporteringsslut">@( item.Rapporteringsslut != null ? item.Rapporteringsslut.ToString("yyyy-MM-dd") : item.Rapporteringsslut)</label></span>
                    <input type="text" id="Rapporteringsslut" value="@( item.Rapporteringsslut != null ? item.Rapporteringsslut.ToString("yyyy-MM-dd") : item.Rapporteringsslut)" class="edit-mode form-control"/></text>, style: "col2Width"),
                    grid.Column("Rapporteringsenast", "Rapporteringsenast", format: @<text><span class="display-mode">
                    <label id="lblRapporteringsenast">@( item.Rapporteringsenast != null ? item.Rapporteringsenast.ToString("yyyy-MM-dd") : item.Rapporteringsenast)</label></span>
                    <input type="text" id="Rapporteringsenast" value="@( item.Rapporteringsenast != null ? item.Rapporteringsenast.ToString("yyyy-MM-dd") : item.Rapporteringsenast)" class="edit-mode form-control"/></text>, style: "col2Width"),

                    grid.Column("Paminnelse1", "Paminnelse1", format: @<text><span class="display-mode">
                    <label id="lblPaminnelse1">@( item.Paminnelse1 != null ? item.Paminnelse1.ToString("yyyy-MM-dd") : item.Paminnelse1)</label></span></text>, style: "col2Width"),
                    grid.Column("Paminnelse2", "Paminnelse2", format: @<text><span class="display-mode">
                    <label id="lblPaminnelse2">@( item.Paminnelse2 != null ? item.Paminnelse2.ToString("yyyy-MM-dd") : item.Paminnelse2)</label></span></text>, style: "col2Width"),
                    grid.Column("Paminnelse3", "Paminnelse3", format: @<text><span class="display-mode">
                    <label id="lblPaminnelse3">@( item.Paminnelse3 != null ? item.Paminnelse3.ToString("yyyy-MM-dd") : item.Paminnelse3)</label></span></text>, style: "col2Width"),

                    grid.Column(null, format: @<text>
                        <button class="edit-user display-mode btn btn-default">Ändra</button>
                        <button class="save-user edit-mode btn btn-default">Spara</button>
                        <button class="cancel-user edit-mode btn btn-default">Avbryt</button>
                    </text>, style: "col3Width", canSort: false)))
        </div>

    }
</div>
