@model InrappAdmin.Web.Models.ViewModels.OrganisationViewModels.OrganisationViewModel
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />


<script type="text/javascript">

    $(function () {
        $("#txtKommunkod").focus();
    });

    $(function() {
        $('.edit-mode').hide();
        $('.edit-user, .cancel-user').on('click',
            function() {
                var tr = $(this).parents('tr:first');
                tr.find('.edit-mode, .display-mode').toggle();
            });
        $('.save-user').on('click',
            function() {
                var tr = $(this).parents('tr:first');
                var repId = tr.find("#RepId").html();
                var repDelRegId = tr.find("#RepDelRegId").html();
                var repSkyldigFrom = tr.find("#RepSkyldigFrom").val();
                var repSkyldigTom = tr.find("#RepSkyldigTom").val();
                var repRapporterarPerEnhet = tr.find("#RepRapporterarPerEnhet").val();
                var orgId = $('#Organisation_Id').val();

                //Creating AdmUppgiftsskyldighet JSON object
                var uppgiftsskyldighet =
                {
                    "Id": repId,
                    "DelregisterId": repDelRegId,
                    "SkyldigFrom": repSkyldigFrom,
                    "SkyldigTom": repSkyldigTom,
                    "RapporterarPerEnhet": repRapporterarPerEnhet,
                    "OrganisationId": orgId
                };
                //Posting AdmUppgiftsskyldighet object to controller's Update action method
                $.ajax({
                    url: '/Organisation/UpdateOrganisationsReportObligation',
                    data: JSON.stringify(uppgiftsskyldighet),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function(data) {
                        //location.reload();
                        $("#pageContainer").html(data);
                        tr.find('.edit-mode, .display-mode').toggle();
                        $('#footer').hide();
                        //alert('Record updated Successfully!!');
                    }
                });

            });

        $('.edit-user').on('click',
            function() {
                var tr = $(this).parents('tr:first');
                var repSkyldigFrom = tr.find("#RepSkyldigFrom").val();
                var repSkyldigTom = tr.find("#RepSkyldigTom").val();
                var repRapporterarPerEnhet = tr.find("#RepRapporterarPerEnhet").val();

                tr.find("#lblSkyldigFrom").text(repSkyldigFrom);
                tr.find("#lblSkyldigTom").text(repSkyldigTom);
                tr.find("#lblRappPerEnhet").text(repRapporterarPerEnhet);
            });
    });
</script>



@{
    ViewBag.Title = "Index";
}


<div id="pageContainer">
    <div class="row">
        <div class="col-md-8 padding-top-55">
            <h4>Administrera uppgiftsskyldighet för organisation</h4>
            <br />
            <section id="orgForm">
                @using (Html.BeginForm("GetOrganisationsReportObligations", "Organisation", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Kommunkod, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Kommunkod, new { @class = "form-control", id = "txtKommunkod" })
                            @Html.ValidationMessageFor(m => m.Kommunkod, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Sök uppgiftskyldighet" class="btn btn-default" />
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>


    @if (Model != null)
    {
        <br /><br />
        <hr />

        @Html.HiddenFor(m => m.Organisation.Id)
        @Html.ActionLink("Skapa ny uppgiftsskyldighet", "CreateReportObligation", "Organisation", new { orgId = Model.Organisation.Id }, null)

        <div id="gridContent" style="font-family: Arial; padding: 20px;">
            @{
                ViewBag.Title = "Administrera uppgiftsskyldighet";
                var grid = new WebGrid(source: Model.ReportObligations, canPage: true, rowsPerPage: 10, ajaxUpdateContainerId: "reportObligationsGrid");
                grid.Pager(WebGridPagerModes.All);
            }


            @grid.GetHtml(tableStyle: "webgrid-table",
                             headerStyle: "webgrid-header",
                             footerStyle: "webgrid-footer",
                             alternatingRowStyle: "webgrid-alternating-row",
                             selectedRowStyle: "webgrid-selected-row",
                             rowStyle: "webgrid-row-style",
                             mode: WebGridPagerModes.All,
                             columns: grid.Columns(
                                 grid.Column("ID", format: @<text><span class="display-mode">@item.ID</span><label id="RepId" class="edit-mode colMinWidth">@item.Id</label></text>,style: "colMinWidth"),
                                 grid.Column("Delregister", format: @<text><span class="display-mode">@item.DelregisterId</span><label id="RepDelRegId" class="edit-mode colMinWidth">@item.DelregisterId</label></text>,style: "colMinWidth"),

                                grid.Column("Fr.o.m", "Fr.o.m", format: @<text><span class="display-mode"><label id="lblSkyldigFrom">@( item.SkyldigFrom != null ? item.SkyldigFrom.ToString("yyyy-MM-dd") : item.SkyldigFrom)</label></span>
                                <input type="text" id="RepSkyldigFrom" value="@( item.SkyldigFrom != null ? item.SkyldigFrom.ToString("yyyy-MM-dd") : item.SkyldigFrom)" class="edit-mode form-control" /></text>, style: "col2Width"),

                                grid.Column("T.o.m", "T.o.m", format: @<text><span class="display-mode"><label id="lblSkyldigTom">@( item.SkyldigTom != null ? item.SkyldigTom.ToString("yyyy-MM-dd") : item.SkyldigTom)</label></span>
                                <input type="text" id="RepSkyldigTom" value="@( item.SkyldigTom != null ? item.SkyldigTom.ToString("yyyy-MM-dd") : item.SkyldigTom)" class="edit-mode form-control" /></text>, style: "col2Width"),

                                grid.Column("Per enhet", "Per enhet", format: @<text><span class="display-mode"><label id="lblRappPerEnhet">@item.RapporterarPerEnhet</label></span>
                                <input type="text" id="RepRapporterarPerEnhet" value="@item.RapporterarPerEnhet.ToString()" class="edit-mode form-control" /></text>, style: "colMinWidth"),

                                grid.Column("Action", format: @<text>
                                <button class="edit-user display-mode btn btn-default">Ändra</button>
                                <button class="save-user edit-mode btn btn-default">Spara</button>
                                <button class="cancel-user edit-mode btn btn-default">Avbryt</button>
                                </text>, style: "col3Width", canSort: false)
                                                                                                                                                                                                                                                                                           ))

        </div>
    }
</div>

